* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.post {
  padding: 15px;
  border: 2px solid teal;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border: 2px solid teal;
}


form{
  flex-direction: column;
  display: flex;
}