* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.post {
  padding: 15px;
  border: 2px solid teal;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border: 2px solid teal;
}

button{
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: end;
  padding: 10px 15px;  border: 2px solid teal;
  color:teal;
  font-size: 20px;
  &:active{
    transform: translatey(1px);
  }
}

form{
  flex-direction: column;
  display: flex;
}